:root {
	--primary: #bf9b69;
	--secondary: #773c8c;
	--background: #174a3c;
	--text: #120717;
	--text-secondary: #fdf5ff;
}

html {
	background: var(--background);
	color: var(--text);
	font-family: helvetica, arial, sans-serif;
}

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

header {
	box-sizing: border-box;
	width: 100%;
	padding: 1rem;
	background: var(--secondary);
}

main {
	padding: 1rem;
	flex-grow: 1;
}

#main-wrapper {
	max-width: 1200px;
	margin: auto;
}

section {
	background: var(--primary);
	padding: 1rem;
	border-radius: 1rem;

	& ~ & {
		margin-top: 1rem;
	}
}

.card {
	border: 2px solid var(--text);
	padding: 1rem;
	border-radius: 1rem;
	display: flex;
	gap: 1rem;
	height: 204px;

	.anime-img {
		max-height: 200px;
		max-width: 200px;
		height: auto;
		width: auto;
		align-self: start;
	}

	& > div {
		flex-grow: 1;
		box-sizing: border-box;
		overflow-y: hidden;
		position: relative;

		.anime-title {
			font-size: 1.25rem;
			font-weight: bold;
		}

		p {
			margin: 0;

			& + & {
				margin-top: 0.5rem;
			}
		}

		.fade-out {
			display: none;

			position: absolute;
			bottom: 0;

			background: linear-gradient(0deg, var(--primary), var(--primary), transparent);
			width: 100%;
			height: 36px;

			button {
				position: absolute;
				bottom: 0;
				background: none;
				border: none;
				font-size: inherit;
				color: inherit;
				padding: 0;
				cursor: pointer;
			}
		}
	}

	&.collapse {
		.fade-out {
			display: block;
		}

		&.show {
			height: max-content;

			& > div {
				padding-bottom: 36px;	
			}
		}
	}

	& ~ & {
		margin-top: 1rem;
	}
}

footer {
	background: var(--primary);
	padding: 1rem;

	p {
		margin: 0.5rem 0;
	}
}

a {
	color: inherit;
}

dt {
	margin: 0.25rem 0 0.5rem;
}

dd {
	margin: 0.5rem 0 0.25rem 40px;

	& > ul:nth-child(1) {
		padding-left: 0;
	}
}

table {
	border-collapse: collapse;

	&,
	th,
	td {
		border: 1px solid var(--text);
		padding: 0.25rem;
	}
}

.swatch {
	display: inline-block;
	height: 1.2em;
	width: 2.4em;
	vertical-align: middle;
	border-style: solid;
	border-width: 1px;
	text-align: center;

	&.swatch-primary {
		color: var(--text);
		background: var(--primary);
	}

	&.swatch-secondary {
		color: var(--text-secondary);
		border-color: var(--text-secondary);
		background: var(--secondary);
	}

	&.swatch-background {
		background: var(--background);
	}

	&.swatch-text {
		background: var(--text);
	}

	&.swatch-text-secondary {
		background: var(--text-secondary);
	}
}

img {
	max-width: 100%;
	height: auto;
}
